@charset "UTF-8";

html,
body {
    background-image: url("../img/cat.jpg");
    background-repeat: repeat;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

nav {
    position: fixed;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0%;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3em;
    background: rgb(248, 215, 215);
    border-bottom: 2px solid white;
}

nav a:hover {
    border-bottom: 2px outset pink;
    background-position: center;
}

nav ul {
    list-style-type: none;
}

.login_link {
    margin-top: 1em;
}

#login_btn {
    float: right;
}

.btn:hover {
    background-color: rgb(248, 215, 215);
}

.add, .update {
    margin-top: 3em;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40em;
    height: 40em;
    background-color: #fcf2f2;
    border: 4px solid pink;
}

main {
    margin-top: 3em;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 45em;
    background-color: white;
}

login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: #fcf2f2;
    border: 4px solid pink;
}

.mainscreen {
    display: flex;
    height: fit-content;
    height: 45em;
    padding-bottom: 10px;
}

.loginform {
    zoom: 1.2;
    line-height: 2em;
}

.up_form,
.add_form {
    width: 60%;
    height: 80%;
    margin-bottom: 10%;
    line-height: 250%;
}

.map {
    width: 50em;
    height: 45em;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.adresslist {
    background-color:  #fcf2f2;
    width: 200px;
    height: 45em;
}

.adresslist ul:hover {
    cursor: default;
}

.adresslist ul li {
    display: block;
    background-color: rgb(248, 215, 215);
    color: black;
    list-style-type: none;
    margin: 1em;
    vertical-align: middle;
    text-align: center;
}

.adresslist ul li:hover {
    background-position: center;
    background-size: contain;
    background-color: rgb(248, 215, 215);
    border-bottom: 2px outset pink;
}

.reactLink {
    text-decoration: none;
}

input {
    margin-left: 10px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 2%;
    line-height: 4em;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: normal;
}

ul {
    padding: 0;
    width: 100%;
}

ul>li {
    display: inline;
    text-decoration: none;
}

td {
    zoom: 1.2;
    padding: 0.4em;
}

.buttonbar {
    width: 800px;
    text-align: center;
    margin-bottom: 10px;
}

.greetingLabel {
    padding: 10px
}